<!-- Optional additional links to insert for icons links -->
{% if site.github.user %}
  <a id="github-profile-link" target="_blank" rel="noopener"
     class="icon" title="Github Profile" aria-label="Github Profile"
     href="https://github.com/{{ site.github.user }}">
    <i class="fab fa-github"></i>
  </a>
{% endif %}

{% if site.twitter.user %}
  <a id="twitter-profile-link" target="_blank" rel="noopener"
     class="icon" title="Twitter Profile" aria-label="Twitter Profile"
     href="https://twitter.com/{{ site.twitter.user }}">
    <i class="fab fa-twitter"></i>
  </a>
{% endif %}

{% if site.linkedin.user %}
  <a id="linkedin-profile-link" target="_blank" rel="noopener"
     class="icon" title="Linkedin Profile" aria-label="Linkedin Profile"
     href="https://www.linkedin.com/in/{{ site.linkedin.user }}">
    <i class="fab fa-linkedin"></i>
  </a>
{% endif %}
